@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Rock+3D&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;

}

:root {
    --background: rgb(39, 37, 37);
    --navCont: rgb(168, 168, 168, 0.3);
    --color: #fff;
    --color2: #000;
    --hoover: grey;
}

/* HOME */
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/chococor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);

}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navCont);
    ;
}

li,
.link {
    list-style: none;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: var(--color);
}

a {
    text-decoration: none;

}

a.link:hover {
    color: var(--color2);
    background-color: var(--hoover);
    border-radius: 10px;
}

.logo {
    width: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

img.logo {
    width: 40px;
}


#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;

}

#btn-mobile {
    display: none;
}


.conthome {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

}

.container {
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navCont);

}

.left {
    width: 50%;
    height: 500px;
    border-right: 4px solid var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 p {
    font-size: 26px;
    padding: 0 50px;

}

.content1 h2 {
    border: none;
    font-size: 40px;
    padding: 30px 70px;
}

.right {
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content2 p {
    display: inline;
    font-size: 30px;

    margin: 15px;
}

.content2 a {
    list-style: none;
    text-decoration: none;

}




/* SIGN */
.cont-log {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

}

.cont-in {
    width: 30%;
    height: 90%;
    background-color: var(--navCont);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.group-forms{
    margin: 20px;
}

#sign{
    padding-left: 35px;

}
.group-forms label {
    margin: 5px;
    font-size: 20px;
    display: block;
}


.group-forms input, button{
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
    background-color: rgba(124, 120, 120, 0.9);
    font-size: 20px;
    margin: 5px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    display: block;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


input::placeholder{
    color: rgba(240, 255, 255, 0.651);
    font-size: 20px;
}

.esqueceu-senha{
    text-align: center;
}






/* SABORES */
.containers{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

     /* background-color: rgba(202, 252, 5, 0.3); */
}

.contsa{
    width: 70%;
    border-radius: 10px;
    background-color: var(--navCont);
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}
.contsabores{
    height: 40%;
    width: 100%;
    min-width: 100px;
    border-radius: 10px;
    background-color: var(--navCont);
    margin: 10px 20px;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
  
}

.contsabores:hover{
    background-color: var(--hoover);
    opacity: 0.7;

}


.contimg{
    height: 80%;
}
.imgsa{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.conttext{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}





/* CONTATO */
.containers-contato{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

     /* background-color: rgba(202, 252, 5, 0.3); */
}

.cont-contato{ 
    width: 70%;
    margin: 50px;
    border-radius: 10px;
    background-color: var(--navCont);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
                         "c c";
    padding: 60px;
}

.con{
    grid-area: a;
    /* background-color: yellow; */
}

.con p{
    font-size: 23px;
}
.con .p-contato{
    margin: 10px 0px;

}
.contato h1, h2{
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}
.contato h1{
    width: 50%;
}
.contato h2{
    width: 25%;
}
.map{
    display: grid;
    grid-area: b;
    /* background-color: blue; */
    margin-top: 32%;
    justify-content: center;
}

.img-contato{
    width: 80%;
    height: auto;
}

.fale-conosco{
    grid-area: c;
    /* background-color: green; */
}

.forms-contato #email-contato, #msg-contato{
    margin: 10px 0px;
    width: 100%;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
.forms-contato #email-contato{
    height: 5vh;
    
}
.forms-contato #msg-contato{
    height: 30vh;
}
.forms-contato label{
    font-size: 23px;
    display: block;
    margin-top: 10px;
}
.forms-contato textarea{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.forms-contato input{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.button-fale{
    display: flex;
    
    justify-content: space-between;
}
.reset-sub-fale{
    margin-top: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}




/* SOBRE */

.containers-sobre{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

     /* background-color: rgba(202, 252, 5, 0.3); */
}

.cont-sobre{ 
    width: 70%;
    margin: 50px;
    border-radius: 10px;
    background-color: var(--navCont);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.sobre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a b"
                         "c b";
    padding: 60px;

}

.sobre-img-horizontal, .sobre-img-vertical, .sobre-text{
    margin: 15px;
}
.sobre-text{
    /* background-color: aqua; */
    grid-area: a;

}
.sobre-text h1{
    margin-bottom: 50px;
    border-bottom: 2px solid white;
}
.sobre-text p{
    font-size: 22px;
    margin-bottom: 15px;
}
.sobre-img-vertical{
    background-image: url('../img/sobre-verti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blue; */
    grid-area: b;
}

img{
    width: 100%;
}
.sobre-img-horizontal{
    grid-area:c;
}


@media (max-width: 1143px) {
    .contsabores{
        height: 30%;
        width: 100%;
        max-width: 170px;
        border-radius: 10px;
        background-color: var(--navCont);
        margin: 10px 20px;
        flex: 1 1 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .left {
        width: 90%;
        height: 500px;
        border-right: 4px solid var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        width: 50%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .content2{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: var(--navCont);
    }



    /* SIGN */

    .cont-in {
        width: 80%;
        height: 80%;
        background-color: var(--navCont);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .group-forms input, button{
        color: var(--color);
        background-color: rgba(124, 120, 120, 0.9);
        font-size: 35px;
        margin: 5px;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        display: block;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .group-forms label {
        margin: 5px;
        font-size: 30px;
        display: block;
    }

    #sign{
        font-size: 50px;
        padding-left: 35px;
    
    }



    /* SABORES */
    .contsabores{
        height: 25%;
    }


    /* CONTATO */
    .cont-contato{ 
        width: 80%;
        margin: 50px;
        border-radius: 10px;
        background-color: var(--navCont);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }
    
    .contato{
        margin: 0px 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a a"
                            "b b"
                             "c c";
    }
    .map{
        display: grid;
        grid-area: b;
        /* background-color: blue; */
        margin: 30px 0px;
        align-self: center;
    }
    .contato h2{
        width: 50%;
    }




    /* SOBRE */
    .sobre{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "a b"
                             "a b"
                             
                            "c c";
        padding: 60px;
    
    }

}

@media (max-width: 850px) {
    .container {
        margin: 2rem;
        width: 85%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--navCont);

    }

    .left {
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }


    .content1 p {
        width: 300px;
        font-size: 25px;
        padding: 10px 0;

    }

    .content1 h2 {
        font-size: 40px;
        padding: 10px 5px;
    }

    .content2 {
        display: flex;
        flex-direction: row;
    }

    .content2 p {
        font-size: 30px;
        margin: 5px;
        padding: 10px;
    }
}

@media (max-width: 700px) {




    /* SOBRE */
    .cont-sobre{ 
        width: 90%;
        margin: 30px;
        border-radius: 10px;
        background-color: var(--navCont);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }
    .sobre{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-areas: "a b"
                             "a b"
                             
                            "c c"; */
        padding: 0px;
    
    }
    .sobre-text h1{
        margin-bottom: 30px;
        
    }
    .sobre-text p{
        font-size: 18px;
        margin-bottom: 15px;
    }

}

@media (max-width: 660px) {
    .contsa{
        width: 80%;
        border-radius: 10px;
        background-color: var(--navCont);
        height: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }

    .contsabores{
        height: 30%;
        width: 100%;
        min-width: 100px;
        border-radius: 10px;
        background-color: var(--navCont);
        margin: 10px 10px;
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        text-align: center;
        padding: 1rem 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    li,
    .link {
        list-style: none;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        color: var(--color2);
    }




    /* CONTATO */
    .cont-contato{ 
        width: 95%;
        margin: 20px;
        border-radius: 10px;
        background-color: var(--navCont);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }

    .contato{
        padding: 10px;
    }
    .con{
        grid-area: a;
        /* background-color: yellow; */
    }
    .fale-conosco{
        grid-area: c;
        /* background-color: green; */
    }
    .map{
       display: grid;
        grid-area: b;
        /* background-color: blue; */
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }
    .contato h1{
        padding-top: 15px;
        width: 80%;
    }
    .contato h2{
        width: 80%;
    } 
    .img-contato{
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .forms-contato #email-contato{
        height: 3.5vh;
        
    }
    .forms-contato #msg-contato{
        height: 30vh;
    }
    .con p{
        font-size: 18px;
    }
    .forms-contato label{
        font-size: 18px;
    }

}
@media (max-width: 500px){
    .cont-in {
        width: 80%;
        height: 60%;
        background-color: var(--navCont);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .group-forms input, button{
        color: var(--color);
        background-color: rgba(124, 120, 120, 0.9);
        font-size: 20px;
        margin: 5px;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        display: block;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .group-forms label {
        margin: 5px;
        font-size: 18px;
        display: block;
    }

    #sign{
        font-size: 32px;
        padding-left: 35px;
    }
    input::placeholder{
        color: rgba(240, 255, 255, 0.651);
        font-size: 17px;
    }
}
@media (max-width: 450px) {
    .contsa{
        width: 80%;
        border-radius: 10px;
        background-color: var(--navCont);
        height: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }

    .contsabores{
        height: 21%;
        width: 100%;
        min-width: 100px;
        border-radius: 10px;
        background-color: var(--navCont);
        margin: 5px 10px;
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
    }
}